body {
  padding: 20px 75px 150px 75px;
  background: linear-gradient(225deg, #4200FF 0%, rgb(43, 0, 0) 100%) fixed;
  font-family: 'Montserrat';
  line-height: 130%;
  color: white;
  font-weight: 400;
}

/* --------------- HEADER ------------------ */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(5px);
  padding: 20px 40px;
  column-gap: 30px;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  column-gap: 16px;
  align-items: center;
  flex-shrink: 0;
}

.profile-photo {
  width: 60px;
  border-radius: 30px;
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile-text_name {
  font-size: 20px;
  font-weight: 700;
}

.profile-text__subtext {
  display: flex;
  column-gap: 4px;
  align-items: center;
}

.profile-text__subtext_point {
  width: 10px;
  height: 10px;
  background: #00FF0A;
  border-radius: 5px;
}

.profile-text__subtext_status {
  font-size: 16px;
}

.search-bar {
  max-width: 460px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.40);
  padding: 20px 30px;
  justify-content: space-between;
}

.search-bar_input {
  max-width: 360px;
  width: 100%;
}

.search-bar_input::placeholder {
  font-size: 16px;
  color: #838383;
}

.search-bar_ico {
  width: 24px;
}

.header__swap-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid white;
  flex-shrink: 0;
}

.header__swap-ico {
  width: 24px;
}

/* ----------------- MAIN ---------------- */

main {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  width: 100%;
}

.songs-list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  height: 600px;
}

.grid {
  width: 100%;
  padding: 20px 40px;
  border-radius: 60px;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(5px);
  height: 120px;
}

.liked-songs {
  display: flex;
  flex-direction: column;
  width: 570px;
  border-radius: 50px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(5px);
  padding-bottom: 20px;
}

.liked-songs-title {
  padding: 16px 20px;
  font-size: 32px;
  font-weight: 700;
  border-bottom: 1px solid white;
}

.liked-songs-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
}

.audio {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.audio-cover {
  width: 60px;
  border-radius: 10px;
}

.audio-info {
  display: flex;
  flex-direction: column;
}

.audio-title {
  font-size: 16px;
  font-weight: 700;
}

.audio-author {
  font-size: 12px;
}

.like-button {
  width: 24px;
}

.data-button {
  width: 60px;
  height: 60px;
}

/* -----------------FOOTER ----------------- */

footer {
  height: 120px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(5px);
  padding: 20px 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.song {
  display: flex;
  column-gap: 20px;
  align-items: center;
  width: 300px;
}

.song_cover {
  width: 80px;
  border-radius: 10px;
}

.song__text-info {
  display: flex;
  row-gap: 4px;
  flex-direction: column;
}

.song__text-info_title {
  font-weight: 700;
  font-size: 20px;
}

.song__text-info_author {
  font-size: 16px;
}

.song_button_ico {
  width: 36px;
}

.bar {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
}

.buttons {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.buttons__container_play-button {
  background-color: white;
  border-radius: 24px;
  width: 48px;
  height: 48px;
}

.bar__all {
  align-items: center;
  display: flex;
  column-gap: 8px;
}

.bar_full {
  width: 560px;
  height: 3px;
  background: #323232;
  cursor: pointer;
}

.bar_part {
  width: 0;
  height: 3px;
  background: #b8b8b8;
  cursor: pointer;
}

.bar_start-time,
.bar_end-time {
  font-size: 12px;
}

.footer__volume {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.footer__volume_full {
  width: 100px;
  background-color: #323232;
  height: 3px;
  cursor: pointer;
}

.footer__volume_part {
  width: 0;
  height: 3px;
  background-color: #b8b8b8;
  cursor: pointer;
}